header{
    background-color: antiquewhite;
    height: 40px;
    text-align: center;
}
footer{
    background-color: antiquewhite;
    height: 40px;
    text-align: center;
}
.wrapper{
    padding: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1450px;
    margin: auto;
}   
.news_block{
    background-color: beige;
    width: 240px;
    height: 400px;
    padding: 15px;
    margin: 8px 8px;
    display: flex;
    flex-direction: column;
}
h2{
    margin-top: 10px;
}
img{
    height: 170px;
    width: 240px;
}
p{
    color: gray;
}